fastapi
uvicorn
python-dotenv
langchain
langchain-community
langchain-chroma
langchain-groq
chromadb
pydantic
sentence-transformers
pypdf
python-multipart
tiktoken
supabase
llama_index
llama_index.embeddings.huggingface
llama_index.llms.groq
dotenv
supabase.client